extends ../assets/layout/layout

block append styles
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="/assets/styles/dark.css")
    title Portfolio - schnst.at
    meta(name="description" content="Discover the diverse portfolio of Nils Schneider-Sturm on schnst.at, showcasing projects in Docker, Vue.js, Node.js, Express.js, PHP, JavaScript, and more. Experience innovation in motion design, coding, and server management.")

block append scripts
    script(defer src="./script.js")

block content

    .top-part
        h1.title Portfolio

    .project-group: each proj_type in project_category_order
        h3.project-type-heading(id=proj_type.toLowerCase().replace(" ", "-"))= proj_type

        .projects: each proj in projects.filter(p => p.project_type_heading === proj_type)
            - let href_url = proj["is_link"] ? proj.url : "details/" + proj.path + "/"
            a(href=href_url).project.no-hover-effect.screen-transition
                .background(style=`--logo-color: ${proj.logo_color}`)
                    if proj.logo_url
                        img(src=proj.logo_url alt=("Logo of " + proj.name)).logo
                    else
                        .logo ?

                .text-overlay
                    each tech in proj.technologies
                        .line= tech

                .name-overlay
                    p.proj-title= proj.title
                    p.proj-name= proj.name