extends ../assets/layout/layout

block append styles
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="/assets/styles/dark.css")

block append scripts
    script(defer src="script.js")

block content

    .top-part
        h1.title Portfolio


    .projects: each proj in projects
        - let href_url = proj["is_link"] ? proj.url : "details/" + proj.path
        a(href=href_url).project.no-hover-effect.screen-transition
            .background(style=`--logo-color: ${proj.logo_color}`)
                if proj.logo_url
                    img(src=proj.logo_url).logo
                else
                    .logo ?

            .text-overlay
                each tech in proj.technologies
                    .line= tech

            .name-overlay
                p.proj-title= proj.title
                p.proj-name= proj.name