extends ../../assets/layout/layout


block append meta
    if projects
        - proj = projects[0]
    title= proj.name + " - schnst.at"
    meta(name="robots" content="noindex")

block append styles
    link(rel="stylesheet" href="/assets/styles/dark.css")
    link(rel="stylesheet" href="/portfolio/details/style.css")

block append scripts 
    script(defer src="/portfolio/details/script.js")


block append anim-wrapper 
    #your-element-selector

block append before-content 
    a(href="/portfolio").go-back-btn.reverse-colors Go Back

block content 
    .image-overlay
        button.button-left: i.fa-solid.fa-angle-left
        button.button-right: i.fa-solid.fa-angle-right

    if projects
        - proj = projects[0]

    h2.project-title= proj.title
    h1.project-name= proj.name

    p.project-description !{proj.description}

    .project-overview
        .preview-images
            each image in proj.images
                each device in devices
                    if image.type != device.name
                        - continue
                    .image(
                        style=`\
                        --device-scale: ${image.device_scale};\
                        --device-width: ${device.dimensions[0]}px;\
                        --device-height: ${device.dimensions[1]}px;\
                        --device-pos-x: ${image.device_pos[0]}px;\
                        --device-pos-y: ${image.device_pos[1]}px;\
                        --device-frame-pos-x: ${device.frame.pos[0]}px;\
                        --device-frame-pos-y: ${device.frame.pos[1]}px;\
                        --device-frame-width: ${device.frame.dimensions[0]}px;\
                        --device-frame-height: ${device.frame.dimensions[1]}px;\
                        --device-frame-radius: ${device.frame.radius}px;\
                        --device-frame-aspect-ratio: ${device.frame.aspect_ratio};\
                        `
                    )
                        img.frame(src=image.src)
                        img.device(src=device.src)

        .aside
            .technologies
                .fact-title Technologies used
                .value 
                    - for (t_ in technologies) 
                         each p_t in proj.technologies
                            if t_ == p_t
                                - let tech = technologies[t_]
                                p
                                    i(class=tech.fa_classes)
                                    span= p_t

            each fact in proj.facts 
                .fact
                    .fact-title= fact.title 
                    .fact-value= fact.value

            .actions
                if proj.code_url
                    a(href=proj.code_url).reverse-colors visit GitHub
                if proj.url
                    a(href=proj.url).reverse-colors visit project page